<div><%= product.name %><br>
  <div id="description-<%= product.id %>"></div>
  <div id="inventory-<%= product.id %>"></div>
</div>
<button class="js-more" data-id="<%= product.id %>">More Info</button>
